//- The Pug language describes HTML documents, in a way that provides benefits and additional features. Pug files are rendered to HTML when the user requests them.
//- Pug's language syntax removes the need for tags to be closed, or enclosed in brackets.
h1 Hello World
p Today is #{date}.